In [1]:
#Importación de librerías para carga de csv y manejo de ditectorios
import csv
import os
cwd=os.getcwd()
print(cwd)

c:\Users\einzw

### Cambio de directorio actual

In [2]:
#Cambio de directorio
os.chdir(r'C:\Users\einzw\Microsoft')

In [3]:
cwd=os.getcwd()
print(cwd)

C:\Users\einzw\Microsoft

### Lectura del archivo .csv 'Height of Male and Female by Country 2022'

In [4]:
file=open(r'C:\Users\einzw\OneDrive\Escritorio\Ebac\Height of Male and Female by Country 2022.csv')
csvreader=csv.reader(file)

In [5]:
#comprobamos que el archivo se ha cargado en un objeto tipo csv.reader
type(csvreader)

_csv.reader

In [6]:
#Se almacena encabezado en nueva lista
head=[]
head=next(csvreader)
print(head)

['Rank', 'Country Name', 'Male Height in Cm', 'Female Height in Cm', 'Male Height in Ft', 'Female Height in Ft']

In [7]:
#Se almacenan filas en nueva lista
rows=[]
for row in csvreader:
    rows.append(row)

In [8]:
#Importación de Numpy
import numpy as np

### Imprimir las primeras 50 filas del dataset

In [9]:
#Almacenamos las filas en un array de Numpy 'heights'
heights=np.array(rows)

In [10]:
print(heights[:50])

[['1' 'Netherlands' '183.78' '170.36' '6.03' '5.59']
 ['2' 'Montenegro' '183.30' '169.96' '6.01' '5.58']
 ['3' 'Estonia' '182.79' '168.66' '6.00' '5.53']
 ['4' 'Bosnia and Herzegovina' '182.47' '167.47' '5.99' '5.49']
 ['5' 'Iceland' '182.10' '168.91' '5.97' '5.54']
 ['6' 'Denmark' '181.89' '169.47' '5.97' '5.56']
 ['7' 'Czech Republic' '181.19' '167.96' '5.94' '5.51']
 ['8' 'Latvia' '181.17' '168.81' '5.94' '5.54']
 ['9' 'Slovakia' '181.02' '167.12' '5.94' '5.48']
 ['10' 'Slovenia' '180.98' '167.20' '5.94' '5.49']
 ['11' 'Ukraine' '180.98' '166.62' '5.94' '5.47']
 ['12' 'Croatia' '180.76' '166.80' '5.93' '5.47']
 ['13' 'Serbia' '180.74' '168.29' '5.93' '5.52']
 ['14' 'Lithuania' '180.72' '167.63' '5.93' '5.50']
 ['15' 'Poland' '180.69' '165.78' '5.93' '5.44']
 ['16' 'Finland' '180.57' '166.48' '5.92' '5.46']
 ['17' 'Norway' '180.48' '166.45' '5.92' '5.46']
 ['18' 'Sweden' '180.46' '166.67' '5.92' '5.47']
 ['19' 'Germany' '180.28' '166.18' '5.91' '5.45']
 ['20' 'Dominica' '180.15' '166.89' '5.91' '5.48']
 ['21' 'Bermuda' '179.72' '166.11' '5.90' '5.45']
 ['22' 'Puerto Rico' '179.48' '163.06' '5.89' '5.35']
 ['23' 'Greece' '179.26' '165.81' '5.88' '5.44']
 ['24' 'Belgium' '179.09' '163.40' '5.88' '5.36']
 ['25' 'Ireland' '179.04' '164.50' '5.87' '5.40']
 ['26' 'Lebanon' '178.96' '163.67' '5.87' '5.37']
 ['27' 'Andorra' '178.84' '165.53' '5.87' '5.43']
 ['28' 'Antigua and Barbuda' '178.84' '165.72' '5.87' '5.44']
 ['29' 'Australia' '178.77' '164.67' '5.87' '5.40']
 ['30' 'Canada' '178.75' '164.73' '5.86' '5.40']
 ['31' 'Switzerland' '178.73' '164.33' '5.86' '5.39']
 ['32' 'Grenada' '178.70' '165.99' '5.86' '5.45']
 ['33' 'Belarus' '178.69' '166.93' '5.86' '5.48']
 ['34' 'France' '178.60' '164.49' '5.86' '5.40']
 ['35' 'Austria' '178.52' '166.93' '5.86' '5.48']
 ['36' 'Luxembourg' '178.46' '165.07' '5.86' '5.42']
 ['37' 'Cook Islands' '178.32' '167.31' '5.85' '5.49']
 ['38' 'French Polynesia' '178.32' '166.52' '5.85' '5.46']
 ['39' 'United Kingdom' '178.21' '163.94' '5.85' '5.38']
 ['40' 'Romania' '177.82' '164.73' '5.83' '5.40']
 ['41' 'New Zealand' '177.72' '164.66' '5.83' '5.40']
 ['42' 'Saint Vincent and the Grenadines' '177.49' '165.30' '5.82' '5.42']
 ['43' 'Niue' '177.19' '167.03' '5.81' '5.48']
 ['44' 'American Samoa' '177.09' '167.55' '5.81' '5.50']
 ['45' 'Barbados' '177.03' '165.66' '5.81' '5.44']
 ['46' 'Jamaica' '176.97' '164.32' '5.81' '5.39']
 ['47' 'United States' '176.94' '163.31' '5.81' '5.36']
 ['48' 'Tunisia' '176.85' '161.69' '5.80' '5.30']
 ['49' 'Russia' '176.65' '164.52' '5.80' '5.40']
 ['50' 'Hungary' '176.59' '162.55' '5.79' '5.33']]

In [11]:
# Almacenamos valores numéricos (en cm y en pies) para su conversión
heights_cm=heights[:,2:4]
heights_ft=heights[:,4:]

In [12]:
# Altura en cm de la población
heights_cm[:3]

array([['183.78', '170.36'],
       ['183.30', '169.96'],
       ['182.79', '168.66']], dtype='<U32')

In [13]:
#Altura en cm de hombres y mujeres
heights_cm_male=heights_cm[:,:1]
heights_cm_female=heights_cm[:,1:]

In [14]:
print(heights_cm_male[:3])

[['183.78']
 ['183.30']
 ['182.79']]

In [15]:
print(heights_cm_female[:3])

[['170.36']
 ['169.96']
 ['168.66']]

In [16]:
#Altura de la población en pies
heights_ft[:3]

array([['6.03', '5.59'],
       ['6.01', '5.58'],
       ['6.00', '5.53']], dtype='<U32')

In [17]:
# Se comprueba el tipo de dato de las nuevas variables
type(heights_cm)

numpy.ndarray

In [18]:
type(heights_ft)

numpy.ndarray

In [19]:
#Transformamos cada variable en un array unidimensional, para poder realizar los cálculos estadísticos
heights_cm_plano=heights_cm.flatten()

In [20]:
heights_male_plano=heights_cm_male.flatten()

In [21]:
heights_female_plano=heights_cm_female.flatten()

In [22]:
heights_ft_plano=heights_ft.flatten()

In [23]:
heights_cm_plano.shape

(398,)

In [24]:
heights_male_plano.shape

(199,)

In [25]:
heights_female_plano.shape

(199,)

In [26]:
heights_ft_plano.shape

(398,)

In [27]:
#Conversión de cada item de los nuevos arrays a tipo flotante
heights_cm_plano=[float(num) for num in heights_cm_plano]

In [28]:
heights_male_plano=[float(num) for num in heights_male_plano]
heights_female_plano=[float(num) for num in heights_female_plano]

In [29]:

heights_ft_plano=[float(num) for num in heights_ft_plano]

In [30]:
print(heights_cm_plano)

[183.78, 170.36, 183.3, 169.96, 182.79, 168.66, 182.47, 167.47, 182.1, 168.91, 181.89, 169.47, 181.19, 167.96, 181.17, 168.81, 181.02, 167.12, 180.98, 167.2, 180.98, 166.62, 180.76, 166.8, 180.74, 168.29, 180.72, 167.63, 180.69, 165.78, 180.57, 166.48, 180.48, 166.45, 180.46, 166.67, 180.28, 166.18, 180.15, 166.89, 179.72, 166.11, 179.48, 163.06, 179.26, 165.81, 179.09, 163.4, 179.04, 164.5, 178.96, 163.67, 178.84, 165.53, 178.84, 165.72, 178.77, 164.67, 178.75, 164.73, 178.73, 164.33, 178.7, 165.99, 178.69, 166.93, 178.6, 164.49, 178.52, 166.93, 178.46, 165.07, 178.32, 167.31, 178.32, 166.52, 178.21, 163.94, 177.82, 164.73, 177.72, 164.66, 177.49, 165.3, 177.19, 167.03, 177.09, 167.55, 177.03, 165.66, 176.97, 164.32, 176.94, 163.31, 176.85, 161.69, 176.65, 164.52, 176.59, 162.55, 176.43, 165.52, 176.43, 160.88, 176.39, 162.56, 176.36, 161.8, 176.35, 161.18, 176.18, 163.92, 176.11, 162.03, 176.06, 166.08, 176.03, 163.38, 175.98, 162.22, 175.98, 163.24, 175.9, 162.47, 175.73, 162.41, 175.66, 163.46, 175.62, 161.18, 175.59, 162.96, 175.52, 163.23, 175.5, 161.74, 175.11, 166.08, 175.05, 161.28, 175.04, 162.35, 175.02, 161.99, 174.96, 160.1, 174.84, 159.46, 174.83, 160.62, 174.76, 161.22, 174.69, 161.22, 174.65, 161.21, 174.57, 160.88, 174.51, 162.26, 174.42, 161.81, 174.42, 163.82, 174.4, 163.46, 174.38, 162.95, 174.37, 162.83, 174.37, 161.23, 174.32, 161.56, 174.17, 164.58, 174.08, 160.53, 174.07, 162.23, 174.04, 160.36, 174.0, 161.37, 173.98, 164.28, 173.84, 161.4, 173.81, 159.76, 173.79, 158.75, 173.71, 162.78, 173.67, 159.85, 173.56, 160.13, 173.53, 160.04, 173.53, 160.7, 173.5, 161.3, 173.27, 160.72, 173.16, 162.06, 173.01, 158.94, 172.88, 159.42, 172.76, 158.29, 172.75, 160.55, 172.23, 160.58, 172.15, 159.57, 172.13, 160.41, 172.07, 160.36, 172.06, 158.5, 171.89, 161.33, 171.85, 157.96, 171.84, 162.12, 171.7, 158.44, 171.66, 160.2, 171.64, 159.38, 171.61, 159.42, 171.55, 158.14, 171.3, 163.57, 171.23, 158.78, 171.22, 159.86, 170.94, 160.29, 170.77, 159.82, 170.7, 158.75, 170.69, 159.85, 170.67, 159.89, 170.67, 156.39, 170.67, 158.84, 170.62, 159.52, 170.6, 157.58, 170.52, 158.12, 170.48, 160.05, 170.46, 159.43, 170.37, 159.81, 170.3, 158.86, 170.29, 157.9, 170.26, 159.81, 170.19, 158.19, 170.14, 159.13, 170.09, 161.04, 169.91, 155.62, 169.75, 160.26, 169.63, 158.58, 169.59, 155.18, 169.57, 159.66, 169.57, 157.82, 169.41, 158.92, 169.2, 157.06, 169.01, 159.65, 168.89, 158.43, 168.84, 157.15, 168.74, 158.53, 168.6, 156.3, 168.5, 156.11, 168.46, 158.1, 168.44, 158.4, 168.43, 158.12, 168.36, 161.73, 168.29, 160.48, 168.23, 158.65, 168.18, 158.05, 168.17, 158.72, 168.1, 155.58, 168.07, 155.88, 167.92, 156.72, 167.87, 154.28, 167.72, 156.54, 167.62, 157.32, 167.34, 155.08, 167.33, 154.77, 167.32, 155.25, 167.05, 155.15, 166.98, 156.89, 166.75, 154.39, 166.7, 154.71, 166.5, 155.18, 166.43, 157.34, 166.31, 154.9, 166.26, 154.36, 166.02, 156.72, 165.68, 156.14, 165.54, 160.06, 165.48, 156.54, 165.35, 154.75, 165.26, 154.76, 165.23, 154.14, 165.16, 153.06, 165.08, 152.38, 164.42, 154.76, 164.36, 152.39, 164.36, 150.91, 164.3, 155.42, 163.1, 156.89, 163.07, 156.79, 162.78, 153.1, 160.13, 152.71]

In [31]:
print(heights_male_plano)

[183.78, 183.3, 182.79, 182.47, 182.1, 181.89, 181.19, 181.17, 181.02, 180.98, 180.98, 180.76, 180.74, 180.72, 180.69, 180.57, 180.48, 180.46, 180.28, 180.15, 179.72, 179.48, 179.26, 179.09, 179.04, 178.96, 178.84, 178.84, 178.77, 178.75, 178.73, 178.7, 178.69, 178.6, 178.52, 178.46, 178.32, 178.32, 178.21, 177.82, 177.72, 177.49, 177.19, 177.09, 177.03, 176.97, 176.94, 176.85, 176.65, 176.59, 176.43, 176.43, 176.39, 176.36, 176.35, 176.18, 176.11, 176.06, 176.03, 175.98, 175.98, 175.9, 175.73, 175.66, 175.62, 175.59, 175.52, 175.5, 175.11, 175.05, 175.04, 175.02, 174.96, 174.84, 174.83, 174.76, 174.69, 174.65, 174.57, 174.51, 174.42, 174.42, 174.4, 174.38, 174.37, 174.37, 174.32, 174.17, 174.08, 174.07, 174.04, 174.0, 173.98, 173.84, 173.81, 173.79, 173.71, 173.67, 173.56, 173.53, 173.53, 173.5, 173.27, 173.16, 173.01, 172.88, 172.76, 172.75, 172.23, 172.15, 172.13, 172.07, 172.06, 171.89, 171.85, 171.84, 171.7, 171.66, 171.64, 171.61, 171.55, 171.3, 171.23, 171.22, 170.94, 170.77, 170.7, 170.69, 170.67, 170.67, 170.67, 170.62, 170.6, 170.52, 170.48, 170.46, 170.37, 170.3, 170.29, 170.26, 170.19, 170.14, 170.09, 169.91, 169.75, 169.63, 169.59, 169.57, 169.57, 169.41, 169.2, 169.01, 168.89, 168.84, 168.74, 168.6, 168.5, 168.46, 168.44, 168.43, 168.36, 168.29, 168.23, 168.18, 168.17, 168.1, 168.07, 167.92, 167.87, 167.72, 167.62, 167.34, 167.33, 167.32, 167.05, 166.98, 166.75, 166.7, 166.5, 166.43, 166.31, 166.26, 166.02, 165.68, 165.54, 165.48, 165.35, 165.26, 165.23, 165.16, 165.08, 164.42, 164.36, 164.36, 164.3, 163.1, 163.07, 162.78, 160.13]

In [32]:
print(heights_female_plano)

[170.36, 169.96, 168.66, 167.47, 168.91, 169.47, 167.96, 168.81, 167.12, 167.2, 166.62, 166.8, 168.29, 167.63, 165.78, 166.48, 166.45, 166.67, 166.18, 166.89, 166.11, 163.06, 165.81, 163.4, 164.5, 163.67, 165.53, 165.72, 164.67, 164.73, 164.33, 165.99, 166.93, 164.49, 166.93, 165.07, 167.31, 166.52, 163.94, 164.73, 164.66, 165.3, 167.03, 167.55, 165.66, 164.32, 163.31, 161.69, 164.52, 162.55, 165.52, 160.88, 162.56, 161.8, 161.18, 163.92, 162.03, 166.08, 163.38, 162.22, 163.24, 162.47, 162.41, 163.46, 161.18, 162.96, 163.23, 161.74, 166.08, 161.28, 162.35, 161.99, 160.1, 159.46, 160.62, 161.22, 161.22, 161.21, 160.88, 162.26, 161.81, 163.82, 163.46, 162.95, 162.83, 161.23, 161.56, 164.58, 160.53, 162.23, 160.36, 161.37, 164.28, 161.4, 159.76, 158.75, 162.78, 159.85, 160.13, 160.04, 160.7, 161.3, 160.72, 162.06, 158.94, 159.42, 158.29, 160.55, 160.58, 159.57, 160.41, 160.36, 158.5, 161.33, 157.96, 162.12, 158.44, 160.2, 159.38, 159.42, 158.14, 163.57, 158.78, 159.86, 160.29, 159.82, 158.75, 159.85, 159.89, 156.39, 158.84, 159.52, 157.58, 158.12, 160.05, 159.43, 159.81, 158.86, 157.9, 159.81, 158.19, 159.13, 161.04, 155.62, 160.26, 158.58, 155.18, 159.66, 157.82, 158.92, 157.06, 159.65, 158.43, 157.15, 158.53, 156.3, 156.11, 158.1, 158.4, 158.12, 161.73, 160.48, 158.65, 158.05, 158.72, 155.58, 155.88, 156.72, 154.28, 156.54, 157.32, 155.08, 154.77, 155.25, 155.15, 156.89, 154.39, 154.71, 155.18, 157.34, 154.9, 154.36, 156.72, 156.14, 160.06, 156.54, 154.75, 154.76, 154.14, 153.06, 152.38, 154.76, 152.39, 150.91, 155.42, 156.89, 156.79, 153.1, 152.71]

In [33]:
print(heights_ft_plano)

[6.03, 5.59, 6.01, 5.58, 6.0, 5.53, 5.99, 5.49, 5.97, 5.54, 5.97, 5.56, 5.94, 5.51, 5.94, 5.54, 5.94, 5.48, 5.94, 5.49, 5.94, 5.47, 5.93, 5.47, 5.93, 5.52, 5.93, 5.5, 5.93, 5.44, 5.92, 5.46, 5.92, 5.46, 5.92, 5.47, 5.91, 5.45, 5.91, 5.48, 5.9, 5.45, 5.89, 5.35, 5.88, 5.44, 5.88, 5.36, 5.87, 5.4, 5.87, 5.37, 5.87, 5.43, 5.87, 5.44, 5.87, 5.4, 5.86, 5.4, 5.86, 5.39, 5.86, 5.45, 5.86, 5.48, 5.86, 5.4, 5.86, 5.48, 5.86, 5.42, 5.85, 5.49, 5.85, 5.46, 5.85, 5.38, 5.83, 5.4, 5.83, 5.4, 5.82, 5.42, 5.81, 5.48, 5.81, 5.5, 5.81, 5.44, 5.81, 5.39, 5.81, 5.36, 5.8, 5.3, 5.8, 5.4, 5.79, 5.33, 5.79, 5.43, 5.79, 5.28, 5.79, 5.33, 5.79, 5.31, 5.79, 5.29, 5.78, 5.38, 5.78, 5.32, 5.78, 5.45, 5.78, 5.36, 5.77, 5.32, 5.77, 5.36, 5.77, 5.33, 5.77, 5.33, 5.76, 5.36, 5.76, 5.29, 5.76, 5.35, 5.76, 5.36, 5.76, 5.31, 5.75, 5.45, 5.74, 5.29, 5.74, 5.33, 5.74, 5.31, 5.74, 5.25, 5.74, 5.23, 5.74, 5.27, 5.73, 5.29, 5.73, 5.29, 5.73, 5.29, 5.73, 5.28, 5.73, 5.32, 5.72, 5.31, 5.72, 5.37, 5.72, 5.36, 5.72, 5.35, 5.72, 5.34, 5.72, 5.29, 5.72, 5.3, 5.71, 5.4, 5.71, 5.27, 5.71, 5.32, 5.71, 5.26, 5.71, 5.29, 5.71, 5.39, 5.7, 5.3, 5.7, 5.24, 5.7, 5.21, 5.7, 5.34, 5.7, 5.24, 5.69, 5.25, 5.69, 5.25, 5.69, 5.27, 5.69, 5.29, 5.68, 5.27, 5.68, 5.32, 5.68, 5.21, 5.67, 5.23, 5.67, 5.19, 5.67, 5.27, 5.65, 5.27, 5.65, 5.24, 5.65, 5.26, 5.65, 5.26, 5.65, 5.2, 5.64, 5.29, 5.64, 5.18, 5.64, 5.32, 5.63, 5.2, 5.63, 5.26, 5.63, 5.23, 5.63, 5.23, 5.63, 5.19, 5.62, 5.37, 5.62, 5.21, 5.62, 5.24, 5.61, 5.26, 5.6, 5.24, 5.6, 5.21, 5.6, 5.24, 5.6, 5.25, 5.6, 5.13, 5.6, 5.21, 5.6, 5.23, 5.6, 5.17, 5.59, 5.19, 5.59, 5.25, 5.59, 5.23, 5.59, 5.24, 5.59, 5.21, 5.59, 5.18, 5.59, 5.24, 5.58, 5.19, 5.58, 5.22, 5.58, 5.28, 5.57, 5.11, 5.57, 5.26, 5.57, 5.2, 5.56, 5.09, 5.56, 5.24, 5.56, 5.18, 5.56, 5.21, 5.55, 5.15, 5.54, 5.24, 5.54, 5.2, 5.54, 5.16, 5.54, 5.2, 5.53, 5.13, 5.53, 5.12, 5.53, 5.19, 5.53, 5.2, 5.53, 5.19, 5.52, 5.31, 5.52, 5.27, 5.52, 5.21, 5.52, 5.19, 5.52, 5.21, 5.52, 5.1, 5.51, 5.11, 5.51, 5.14, 5.51, 5.06, 5.5, 5.14, 5.5, 5.16, 5.49, 5.09, 5.49, 5.08, 5.49, 5.09, 5.48, 5.09, 5.48, 5.15, 5.47, 5.07, 5.47, 5.08, 5.46, 5.09, 5.46, 5.16, 5.46, 5.08, 5.45, 5.06, 5.45, 5.14, 5.44, 5.12, 5.43, 5.25, 5.43, 5.14, 5.42, 5.08, 5.42, 5.08, 5.42, 5.06, 5.42, 5.02, 5.42, 5.0, 5.39, 5.08, 5.39, 5.0, 5.39, 4.95, 5.39, 5.1, 5.35, 5.15, 5.35, 5.14, 5.34, 5.02, 5.25, 5.01]

In [34]:
#Importación de la función 'mean' del módulo estadístico para realizar los cálculos en cm
from statistics import mean
heights_cm_mean=mean(heights_cm_plano)
heights_male=mean(heights_male_plano)
heights_female=mean(heights_female_plano)
heights_cm_min=min(heights_cm_plano)
heights_cm_max=max(heights_cm_plano)

#Cálculos en pies
heights_ftmean=mean(heights_ft_plano)
heights_ft_min=min(heights_ft_plano)
heights_ft_max=max(heights_ft_plano)

In [35]:
print('Estatura mínima: ', float(heights_cm_min))
print('Estatura máxima: ', float(heights_cm_max))

Estatura mínima:  150.91
Estatura máxima:  183.78

In [36]:
print(heights[:3])

[['1' 'Netherlands' '183.78' '170.36' '6.03' '5.59']
 ['2' 'Montenegro' '183.30' '169.96' '6.01' '5.58']
 ['3' 'Estonia' '182.79' '168.66' '6.00' '5.53']]

In [37]:
#Buscamos los datos de los países con la estatura mínima y máxima del dataset original 'heights', en la tercera y segunda columna
filter_cm_min=heights[heights[:,3]=='150.91']
print(filter_cm_min)

[['194' 'Guatemala' '164.36' '150.91' '5.39' '4.95']]

In [38]:
filter_cm_max=heights[heights[:,2]=='183.78']
print(filter_cm_max)

[['1' 'Netherlands' '183.78' '170.36' '6.03' '5.59']]

### Resumen estadístico (media, valor mínimo y máximo)

In [39]:
print('En 2022 la estatura promedio de la población adulta en general fue de ', ('{:.2f}'.format(float(heights_cm_mean))),'cm, es decir ',  ('{:.2f}'.format(float(heights_ftmean))), 'pies.')
print('La estatura promedio para hombres fue de ', ('{:.2f}'.format(float(heights_male))),'cm ', 'mientras que para las mujeres fue de', ('{:.2f}'.format(float(heights_female))), ' cm.')
print('La estatura promedio mínima fue de ', float(heights_cm_min),'cm ', '(', float(heights_ft_min), ' pies), que corresponde a las mujeres en Guatemala.')
print('La estatura promedio máxima fue de ', float(heights_cm_max),'cm ', '(', float(heights_ft_max), ' pies), que corresponde a los hombres en Países Bajos.')

En 2022 la estatura promedio de la población adulta en general fue de  167.02 cm, es decir  5.48 pies.
La estatura promedio para hombres fue de  173.09 cm  mientras que para las mujeres fue de 160.94  cm.
La estatura promedio mínima fue de  150.91 cm  ( 4.95  pies), que corresponde a las mujeres en Guatemala.
La estatura promedio máxima fue de  183.78 cm  ( 6.03  pies), que corresponde a los hombres en Países Bajos.

In [40]:
#Filtro de país en el dataset original 'heights'
pais=heights[:,1]
print(pais)

['Netherlands' 'Montenegro' 'Estonia' 'Bosnia and Herzegovina' 'Iceland'
 'Denmark' 'Czech Republic' 'Latvia' 'Slovakia' 'Slovenia' 'Ukraine'
 'Croatia' 'Serbia' 'Lithuania' 'Poland' 'Finland' 'Norway' 'Sweden'
 'Germany' 'Dominica' 'Bermuda' 'Puerto Rico' 'Greece' 'Belgium' 'Ireland'
 'Lebanon' 'Andorra' 'Antigua and Barbuda' 'Australia' 'Canada'
 'Switzerland' 'Grenada' 'Belarus' 'France' 'Austria' 'Luxembourg'
 'Cook Islands' 'French Polynesia' 'United Kingdom' 'Romania'
 'New Zealand' 'Saint Vincent and the Grenadines' 'Niue' 'American Samoa'
 'Barbados' 'Jamaica' 'United States' 'Tunisia' 'Russia' 'Hungary'
 'Saint Lucia' 'North Macedonia' 'Libya' 'Turkey' 'Morocco' 'Senegal'
 'Spain' 'Tokelau' 'Trinidad and Tobago' 'Israel' 'Georgia' 'Seychelles'
 'Brazil' 'China' 'Iran' 'Moldova' 'South Korea' 'Kazakhstan' 'Tonga'
 'Palestine' 'Algeria' 'Mali' 'Kuwait' 'Jordan' 'Hong Kong' 'Argentina'
 'North Korea' 'Dominican Republic' 'Egypt' 'Suriname' 'Italy' 'Samoa'
 'Bahamas' 'Malta' 'Turkmenistan' 'Portugal' 'Uruguay' 'Bulgaria'
 'United Arab Emirates' 'Albania' 'Costa Rica' 'Azerbaijan' 'Fiji'
 'Greenland' 'Paraguay' 'Iraq' 'Saint Kitts and Nevis' 'Armenia' 'Cuba'
 'Venezuela' 'Taiwan' 'Singapore' 'Qatar' 'Botswana' 'Mauritius' 'Chile'
 'Bahrain' 'Cyprus' 'Haiti' 'Guyana' 'Cameroon' 'Sudan' 'Japan'
 'Burkina Faso' 'Colombia' 'Chad' 'Oman' 'Kyrgyzstan' 'Syria' 'Thailand'
 'Nigeria' 'Tuvalu' 'Republic of the Congo' 'Somalia' 'Uzbekistan'
 'Djibouti' 'Guinea' 'Zimbabwe' 'Mongolia' 'El Salvador' 'Saudi Arabia'
 'Palau' 'Eritrea' 'Belize' 'Gabon' 'Kenya' 'Sao Tome and Principe'
 'Ghana' 'Mexico' 'Niger' 'Panama' 'Togo' 'Kiribati' 'Nicaragua' 'Namibia'
 'South Africa' 'Honduras' 'Micronesia' 'Nauru' 'Eswatini' 'Malaysia'
 'Central African Republic' 'Vietnam' 'Ethiopia' 'Uganda' 'DR Congo'
 'Afghanistan' 'Angola' 'Benin' 'Tajikistan' 'Gambia' 'Vanuatu'
 'Ivory Coast' 'Equatorial Guinea' 'Guinea-Bissau' 'Bolivia' 'Sri Lanka'
 'Lesotho' 'Maldives' 'Comoros' 'Zambia' 'Burundi' 'Pakistan' 'Ecuador'
 'Bhutan' 'Tanzania' 'Peru' 'Myanmar' 'India' 'Sierra Leone' 'Brunei'
 'Indonesia' 'Rwanda' 'Malawi' 'Mauritania' 'Liberia' 'Cambodia'
 'Marshall Islands' 'Philippines' 'Madagascar' 'Bangladesh' 'Yemen'
 'Nepal' 'Guatemala' 'Mozambique' 'Papua New Guinea' 'Solomon Islands'
 'Laos' 'Timor-Leste']

In [41]:
filter_pais=(pais=='Mexico')
filter_mexico=heights[filter_pais]
print(filter_mexico)

[['139' 'Mexico' '170.29' '157.90' '5.59' '5.18']]

In [42]:
#Se obtienen sólo valores numéricos
mexico=filter_mexico[:, 2:]
print(mexico)

[['170.29' '157.90' '5.59' '5.18']]

In [43]:
#Damos formato plano y de lista al array
mexico_lista=mexico.flatten().tolist()
print(mexico_lista)

['170.29', '157.90', '5.59', '5.18']

In [44]:
type(mexico_lista)

list

In [45]:
#Conversión a valores a flotantes
mexico_lista_float=[float(num) for  num in mexico_lista]
print(mexico_lista_float)

[170.29, 157.9, 5.59, 5.18]

In [46]:
#Obtenemos los valores en cm y en pies
mexico_cm=mexico_lista_float[:2]
mexico_ft=mexico_lista_float[2:]

In [47]:
print(mexico_cm)

[170.29, 157.9]

In [48]:
print(mexico_ft)

[5.59, 5.18]

In [49]:
#Media de los valores
mexico_mean_cm=mean(mexico_cm)
mexico_mean_ft=mean(mexico_ft)

### Resumen estadístico para México

In [50]:
print('En México, en 2022 la estatura promedio de la población adulta en general fue de ', ('{:.2f}'.format(float(mexico_mean_cm))),'cm, es decir ',  ('{:.2f}'.format(float(mexico_mean_ft))), 'pies,')
print('170.29 cm y 157.9 cm para hombres y mujeres respectivamente.')

En México, en 2022 la estatura promedio de la población adulta en general fue de  164.09 cm, es decir  5.38 pies,
170.29 cm y 157.9 cm para hombres y mujeres respectivamente.